<p>
    <h2>
        Base setup
    </h2>
    <div>
        Install angular onefootball components using bower or npm (or download dist js) and iclude it in your project.
        Then just add it as dependecy to your module. We depend on angular-sanitize, so this should be part of you project as well,
        if it's not already.
    </div>

    <div class="gist-wrapper" style="margin-top:12px;">
        <gist id="52be4ab5f396f8d1516995d4ad8bf5a6"></gist>
    </div>
</p>

<p>
    <h3>
        <a href="#!/filters">Filters</a>
    </h3>
    <ul>
        <li>
            <a href="#!/filters#cyrillic2latin">cyrillic2latin</a>
        </li>
        <li>
            <a href="#!/filters#diacriticStrip">diacriticStrip</a>
        </li>
        <li>
            <a href="#!/filters#jsonPrettyprint">jsonPrettyprint</a>
        </li>
        <li>
            <a href="#!/filters#newlines">newlines</a>
        </li>
        <li>
            <a href="#!/filters#rderObjectBy">orderObjectBy</a>
        </li>
        <li>
            <a href="#!/filters#replace">replace</a>
        </li>
        <li>
            <a href="#!/filters#urlEncode">urlEncode</a>
        </li>
        <li>
            <a href="#!/filters#urlText">urlText</a>
        </li>
    </ul>
</p>
<p>
    <h3>
        <a href="#!/directives">Directives</a>
    </h3>
    <ul>
        <li>
            <a href="#!/directives#img-change">img-change</a>
        </li>
        <li>
            <a href="#!/directives#responsive-image">responsive-image</a>
        </li>
    </ul>
</p>
<p>
    <h3>
        <a href="#!/services">Services</a>
    </h3>
    <ul>
        <li>
            <a href="#!/services#guid">guid</a>
        </li>
    </ul>
</p>
