<h3 id="img-change">Image fallback</h3>
<p>
    General idea here is that we can use image placeholder, until we resolve our real url. Usually you would use
    image that is cached as placeholder and then replace it with real image. This offers better user experience.
</p>

<img src="http://placehold.it/350x150" img-change="{{::imageUrl}}" />

<h5>Example code</h5>
<h6>Javascript</h6>
<gist id="20b11b5f52575cd7fde0b0d5d18d9f5c"></gist>

<h6>HTML</h6>
<gist id="cff8664bc718e9aa7063e6899ee91eea"></gist>


<h3 id="responsive-image">Responsive Image</h3>
<p>
    This directive provides a nice interface around the "srcset" attribute and acccepts both a placeholder URL and a
    fallback one in case an error occures while loading the image.
</p>

<img responsive-image="{{ ::image }}"
     alt="This is our responsive image"
     title="Isn't that nice?"
     style="width: 100%; border: 1px solid black;" />

<h5>Example code</h5>
<h6>Javascript</h6>
<p>
    <!--  TODO replace by a gist -->
    <pre>
    var imagesAsArray = [{
        url: '/images/bikes-400.jpg',
        width: '400'
    }, {
        url: '/images/bikes-800.jpg',
        width: '800'
    }, {
        url: '/images/bikes-1280.jpg',
        width: '1280'
    }, {
        url: '/images/bikes-2560.jpg',
        width: '2560'
    }];

    var sizes = [
        "(max-width: 320px) 400px", // media + size (px or vw)
        "(max-width: 800px) 800px",
        "(max-width: 1440px) 1280px",
        "2560px"
    ];

    $scope.image = {
        placeholder: imagesAsArray[0].url,
        fallback: 'http://placehold.it/700x300',
        images: imagesAsArray,
        sizes: sizes
    };
    </pre>
</p>

<h6>HTML</h6>
<p>
    <!--  TODO replace by a gist -->
    <pre>
        &lt;img responsive-image="{{ ::image }}"
             alt="This is our responsive image"
             title="Isn't that nice?" /&gt;
    </pre>
</p>
