<h2>
    Filters
</h2>

<div class="filter-section">
    <h3 id="ofCyrillic2latin">Cyrillic to Latin filter</h3>
    <p>
        This filter transliterate cyrillic to latin. We use it for generating cyrillic urls (to use ascii urls).
    </p>

    <ul>
        <li ng-repeat= "item in cyrillicList">{{:: item}} ==> {{:: item | ofCyrillic2Latin}}</li>
    </ul>

    <h5>Example code</h5>
    <h6>Javascript</h6>
    <pre><code>
        demoControllers.controller('filterCtrl', ['$scope', function ($scope) {
            $scope.cyrillicList = ['радиатор', 'Антарктика', 'телеграмма', 'Англия', 'витамин', 'мираж', 'Шанхай'];
        });
    </code></pre>

        <h6>HTML</h6>
    <pre><code>
        &lt;h3&gt;Cyrillic2latin filter&lt;/h3&gt;
        &lt;p&gt;
            This filter transliterate cyrillic to latin. We use it for generating cyrillic urls (to use ascii urls).
        &lt;/p&gt;

        &lt;ul&gt;
            &lt;li ng-repeat= "item in cyrillicList"&gt;&lbrace; &lbrace;:: item&rbrace; &rbrace; ==> &lbrace; &lbrace;:: item | ofCyrillic2Latin&rbrace; &rbrace;&lt;/li&gt;
        &lt;/ul>
    </code></pre>
</div>
<hr/>

<div class="filter-section">
    <h3 id="ofDiacriticStrip">Diacritic remove filter</h3>
    <p>
        This filter can be used to strip accents from words. This can be usefull, when you want to sort words alphabetically,
        or when you want to generate url from name.
    </p>

    <ul>
        <li ng-repeat= "item in diacriticList">{{:: item}} ==> {{:: item | ofDiacriticStrip}}</li>
    </ul>

    <h5>Example code</h5>
    <h6>Javascript</h6>
    <pre><code>
        demoControllers.controller('filterCtrl', ['$scope', function ($scope) {
            $scope.diacriticList = ['dégagé', 'déjà vu', 'démarche', 'démodé', 'dénouement', 'Mützen', 'tête-à-tête'];
        });
    </code></pre>

    <h6>HTML</h6>
    <pre><code>
        &lt;h3&gt;Diacritic filter&lt;/h3&gt;
        &lt;p&gt;
            This filter can be used to strip accents from words. This can be usefull, when you want to sort words alphabetically,
            or when you want to generate url from name.
        &lt;/p&gt;

        &lt;ul&gt;
            &lt;li ng-repeat= "item in diacriticList"&gt;&lbrace; &lbrace;:: item&rbrace; &rbrace; ==> &lbrace; &lbrace;:: item | ofDiacriticStrip&rbrace; &rbrace;&lt;/li&gt;
        &lt;/ul>
    </code></pre>
</div>
<hr />

<div class="filter-section">
    <h3 id="ofJsonPrettyprint">Json pretty print filter</h3>
    <p>
        This filter can be used to quickly pretty print JS object.
    </p>
    <h6>Normal output</h6>
    <pre>
{{:: customObject}}
    </pre>

    <h6>Pretty output</h6>
    <pre>
{{:: customObject | ofJsonPrettyprint}}
    </pre>

    <h5>Example code</h5>
    <h6>Javascript</h6>
    <pre><code>
        demoControllers.controller('filterCtrl', ['$scope', function ($scope) {
           $scope.customObject = {
                name: 'Sinisa',
                company: {
                    name: 'Onefootball Gmbh',
                    address: 'Greifswalder strasse 212'
                },
                status: 'Awesome',
                food: ['Steak, pizza, coffee']
            };
        );
    </code></pre>

    <h6>HTML</h6>
    <pre><code>
        &lt;h3&gt;Json pretty print filter&lt;/h3&gt;
        &lt;p&gt;
            This filter can be used to quickly pretty print JS object.
        &lt;/p&gt;

        &lt;h6>Normal output&lt;/h6&gt;
        &lt;pre>
            &lbrace; &lbrace;:: customObject&rbrace; &rbrace;
        &lt;/pre>

        &lt;h6>Pretty output&lt;/h6&gt;
        &lt;pre&gt;
            &lbrace; &lbrace;:: customObject | ofJsonPrettyprint&rbrace; &rbrace;
        &lt;/pre&gt;
    </code></pre>
</div>

<hr/>
<div class="filter-section">
    <h3 id="ofNewLines">New lines filter</h3>
    <p>
        Often text that is served to the applications, have some strange line breaks.
        This filter, together with ngSanitize is used to normalize line breaks in chunk of text (output is html).
    </p>

    <h5>Original text</h5>
    <h6>Output</h6>
    <pre>
{{::newLinesText}}
    </pre>
    <h6>As html text</h6>
    <div ng-bind-html="::newLinesText">
    </div>

    <h5>New lines text</h5>
    <h6>Output</h6>
    <pre>
{{::newLinesText | ofNewLines}}
    </pre>
    <h6>As html</h6>
    <div ng-bind-html="::newLinesText | ofNewLines">
    </div>

    <h5>Example code</h5>
    <h6>Javascript</h6>

    <pre><code>
        demoControllers.controller('filterCtrl', ['$scope', function ($scope) {
          $scope.newLinesText = 'This is some text\n that has a line break, &lt;br/&gt; &lt;br/&gt; &lt;br/&gt; &lt;br/&gt; &lt;br/&gt; \n\n\n\n\n which is unusual!';
        });
    </code></pre>

    <h6>HTML</h6>
    <pre><code>
        &lt;h3&gt;New lines filter&lt;/h3&gt;
        &lt;p&gt;
            Often text is server from backend and has strange line breaks.
            This filter, together with ngSanitize is used to normalize line breaks in chunk of text (output is html).
        &lt;/p&gt;

        &lt;h5&gt;Original text&lt;/h5&gt;
        &lt;h6&gt;Output&lt;/h6&gt;
        &lt;pre&gt;
            &lbrace; &lbrace;::newLinesText&rbrace; &rbrace;
        &lt;/pre&gt;
        &lt;h6&gt;As html text&lt;/h6&gt;
        &lt;div ng-bind-html="::newLinesText"&gt;
        &lt;/div&gt;

        &lt;h5&gt;New lines text&lt;/h5&gt;
        &lt;h6&gt;Output&lt;/h6&gt;
        &lt;pre&gt;
                &lbrace; &lbrace;::newLinesText | ofNewLines&rbrace; &rbrace;
        &lt;/pre&gt;
        &lt;h6&gt;As html&lt;/h6&gt;
        &lt;div ng-bind-html="::newLinesText | ofNewLines"&gt;
        &lt;/div&gt;
    </code></pre>
</div>
<hr/>
<div class="filter-section">
    <h3 id="ofOrderObjectBy">Order object by filter</h3>
    <p>
        This filter is used to order list of objects by property.
    </p>

    <h5>
        Original list
    </h5>
    <ul>
        <li ng-repeat= "item in listOfObjects">
            name: {{:: item.name}},
            id: {{:: item.id}}
        </li>
    </ul>

    <h5>
        List of object sorted by id
    </h5>
    <ul>
        <li ng-repeat= "item in listOfObjects | ofOrderObjectBy : 'id'">
            name: {{:: item.name}},
            id: {{:: item.id}}
        </li>
    </ul>
    <h5>
        List of object sorted by name
    </h5>
    <ul>
        <li ng-repeat= "item in listOfObjects | ofOrderObjectBy : 'name'">
            name: {{:: item.name}},
            id: {{:: item.id}}
        </li>
    </ul>

    <h5>
        List of object sorted by name reverted
    </h5>
    <ul>
        <li ng-repeat= "item in listOfObjects | ofOrderObjectBy : 'name' : true">
            name: {{:: item.name}},
            id: {{:: item.id}}
        </li>
    </ul>
    <h5>Example code</h5>
    <h6>Javascript</h6>

    <pre><code>
        demoControllers.controller('filterCtrl', ['$scope', function ($scope) {
            $scope.listOfObjects = [
                {
                    id: 5,
                    name: 'Zan'
                },
                {
                    id: 1,
                    name: 'Masa'
                },
                {
                    id: 10,
                    name: 'Neza'
                }
            ];
        });
    </code></pre>

    <h6>HTML</h6>
    <pre><code>
        &lt;h3&gt;Order object by filter&lt;/h3&gt;
        &lt;p&gt;
            This filter is used to order list of objects by property.
        &lt;/p&gt;

        &lt;h5&gt;
            Original list
        &lt;/h5&gt;
        &lt;ul&gt;
            &lt;li ng-repeat= "item in listOfObjects"&gt;
                name: &lbrace; &lbrace;:: item.name&rbrace; &rbrace;,
                id: &lbrace; &lbrace;:: item.id&rbrace; &rbrace;
            &lt;/li&gt;
        &lt;/ul&gt;

        &lt;h5&gt;
            List of object sorted by id
        &lt;/h5&gt;
        &lt;ul&gt;
            &lt;li ng-repeat= "item in listOfObjects | ofOrderObjectBy : 'id'"&gt;
                name: &lbrace; &lbrace;:: item.name&rbrace; &rbrace;,
                id: &lbrace; &lbrace;:: item.id&rbrace; &rbrace;
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;h5&gt;
            List of object sorted by name
        &lt;/h5&gt;
        &lt;ul&gt;
            &lt;li ng-repeat= "item in listOfObjects | ofOrderObjectBy : 'name'"&gt;
                name: &lbrace; &lbrace;:: item.name&rbrace; &rbrace;,
                id: &lbrace; &lbrace;:: item.id&rbrace; &rbrace;
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;h5&gt;
            List of object sorted by name reverted
        &lt;/h5&gt;
        &lt;ul&gt;
            &lt;li ng-repeat= "item in listOfObjects | ofOrderObjectBy : 'name' : true"&gt;
                name: &lbrace; &lbrace;:: item.name&rbrace; &rbrace;,
                id: &lbrace; &lbrace;:: item.id&rbrace; &rbrace;
            &lt;/li&gt;
        &lt;/ul&gt;
    </code></pre>
</div>
<hr/>
<div class="filter-section">
    <h3 id="ofReplace">Replace filter</h3>
    <p>
        This is a simple string replace filter. First argument is target to replace, second is replacement pattern and
        last one (optional) are regular expression flags.
    </p>

    <h5>Original string</h5>
    <div>{{::strReplace}}</div>

    <h5>Replace string (a witch c)</h5>
    <div>{{::strReplace | ofReplace : 'a' :'c'}}</div>

    <h5>Replace string globally (a with c and flag g)</h5>
    <div>{{::strReplace | ofReplace : 'a' :'c' : 'g'}}</div>

    <h5>Replace string globally and ignore casing (a with c and flags gi)</h5>
    <div>{{::strReplace | ofReplace : 'a' :'c' : 'gi'}}</div>

    <h5>Example code</h5>
    <h6>Javascript</h6>

    <pre><code>
    demoControllers.controller('filterCtrl', ['$scope', function ($scope) {
       $scope.strReplace = 'aaaaaaaAaaaaaaabbbb';
    });
    </code></pre>

    <h6>HTML</h6>
    <pre><code>
        &lt;h3 &gt;Replace filter&lt;/h3&gt;
        &lt;p&gt;
            This is a simple string replace filter. First argument is target to replace, second is replacement pattern and
            last one (optional) are regular expression flags.
        &lt;/p&gt;

        &lt;h5&gt;Original string&lt;/h5&gt;
        &lt;div&gt;&lbrace; &lbrace;::strReplace&rbrace; &rbrace;&lt;/div&gt;

        &lt;h5&gt;Replace string (a witch c)&lt;/h5&gt;
        &lt;div&gt;&lbrace; &lbrace;::strReplace | ofReplace : 'a' :'c'&rbrace; &rbrace;&lt;/div&gt;

        &lt;h5&gt;Replace string globally (a with c and flag g)&lt;/h5&gt;
        &lt;div&gt;&lbrace; &lbrace;::strReplace | ofReplace : 'a' :'c' : 'g'&rbrace; &rbrace;&lt;/div&gt;

        &lt;h5&gt;Replace string globally and ignore casing (a with c and flags gi)&lt;/h5&gt;
        &lt;div&gt;&lbrace; &lbrace;::strReplace | ofReplace : 'a' :'c' : 'gi'&rbrace; &rbrace;&lt;/div&gt;
    </code></pre>
</div>
<hr/>

<div class="filter-section">
    <h3 id="ofUrlEncode">Url encode filter</h3>
    <p>
        This filter is just a wrapper for encodeURI.
    </p>

    <h5>Original url</h5>
    <div>{{:: encodeURIExample}}</div>

    <h5>Encoded url</h5>
    <div>{{:: encodeURIExample | ofUrlEncode}}</div>

    <h5>Example code</h5>
    <h6>Javascript</h6>

    <pre><code>
        demoControllers.controller('filterCtrl', ['$scope', function ($scope) {
            $scope.encodeURIExample = 'https://www.google.si/maps/search/greifswalder strasse 212';
        });
    </code></pre>

    <h6>HTML</h6>
    <pre><code>
        &lt;h3 id="urlEncode"&gt;Url encode filter&lt;/h3&gt;
        &lt;p&gt;
            This filter is just a wrapper for encodeURI.
        &lt;/p&gt;

        &lt;h5&gt;Original url&lt;/h5&gt;
        &lt;div&gt;&lbrace; &lbrace;:: encodeURIExample&rbrace; &rbrace;&lt;/div&gt;

        &lt;h5&gt;Encoded url&lt;/h5&gt;
        &lt;div&gt;&lbrace; &lbrace;:: encodeURIExample | ofUrlEncode&rbrace; &rbrace;&lt;/div&gt;
    </code></pre>
</div>
<hr/>

<div class="filter-section">
    <h3 id="ofUrlSafe">Url safe text filter</h3>
    <p>
        This filter converts random text to url save text (it supports also cyrillic text). It can be used to generate slugs,
        or rewrite urls.
    </p>

    <h5>Original text</h5>
    <div>{{:: textForUrl}}</div>

    <h5>Text "urlzied"</h5>
    <div>{{:: textForUrl | ofUrlSafe}}</div>
    <h5>Example code</h5>
    <h6>Javascript</h6>

    <pre><code>
        demoControllers.controller('filterCtrl', ['$scope', function ($scope) {
           $scope.textForUrl = 'Jose Mourinho camp "frustrated" with Manchester Utd job situation - sources';
        });
    </code></pre>

    <h6>HTML</h6>
    <pre><code>
        &lt;h3 id="urlText"&gt;Url text filter&lt;/h3&gt;
        &lt;p&gt;
            This filter converts random text to url save text (it supports also cyrillic text). It can be used to generate slugs,
            or rewrite urls.
        &lt;/p&gt;

        &lt;h5&gt;Original text&lt;/h5&gt;
        &lt;div&gt;&lbrace; &lbrace;:: textForUrl&rbrace; &rbrace;&lt;/div&gt;

        &lt;h5&gt;Text "urlzied"&lt;/h5&gt;
        &lt;div&gt;&lbrace; &lbrace;:: textForUrl | ofUrlSafe&rbrace; &rbrace;&lt;/div&gt;
    </code></pre>
</div>

<script>
    $('pre code').each(function(i, block) {
        hljs.highlightBlock(block);
    });
</script>
