<p>
    <h2>
        Base setup
    </h2>
<h3>
    Installation
</h3>
<pre><code>
bower install onefootball-angular-components
</code></pre>
<pre><code>
npm install onefootball-angular-components
</code></pre>


<h3>
    Include
</h3>
    <p>
        After installation, you just have to declare dependency in your module. We depend on angular-sanitize, so you should add it to your project.
    </p>
    <div class="gist-wrapper" style="margin-top:12px;">
<pre><code>
   var demoApp = angular.module('demoModule', [
        'onefootball.components',
        'ngSanitize'
    ]);
</code></pre>
    </div>
</p>

<h3>
    Components
</h3>
<p>
    <h4>
        <a href="#!/filters">Filters</a>
    </h4>
    <ul>
        <li>
            <a href="#!/filters#ofCyrillic2latin">ofCyrillic2Latin</a>
        </li>
        <li>
            <a href="#!/filters#ofDiacriticStrip">ofDiacriticStrip</a>
        </li>
        <li>
            <a href="#!/filters#ofJsonPrettyprint">ofJsonPrettyprint</a>
        </li>
        <li>
            <a href="#!/filters#ofNewLines">ofNewLines</a>
        </li>
        <li>
            <a href="#!/filters#ofOrderObjectBy">ofOrderObjectBy</a>
        </li>
        <li>
            <a href="#!/filters#ofReplace">ofReplace</a>
        </li>
        <li>
            <a href="#!/filters#ofUrlEncode">ofUrlEncode</a>
        </li>
        <li>
            <a href="#!/filters#ofUrlSafe">ofUrlSafe</a>
        </li>
    </ul>
</p>
<p>
    <h4>
        <a href="#!/directives">Directives</a>
    </h4>
    <ul>
        <li>
            <a href="#!/directives#of-img-change">of-img-change</a>
        </li>
        <li>
            <a href="#!/directives#of-responsive-image">of-responsive-image</a>
        </li>
        <li>
            <a href="#!/directives#of-in-view">of-in-view</a>
        </li>
    </ul>
</p>
<p>
    <h4>
        <a href="#!/services">Services</a>
    </h4>
    <ul>
        <li>
            <a href="#!/services#ofGuid">ofGuid</a>
        </li>
    </ul>
</p>

<script>
    $('pre code').each(function(i, block) {
        hljs.highlightBlock(block);
    });
</script>
