<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>Order object by filter</title>
</head>
<body>
    <a href="/index.html"> Home </a>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https:////ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
    <script src="../scripts/onefootball-angular-components.min.js"></script>
    <script src="../scripts/app.js"></script>
    <h1>Order object by filter</h1>
    <p>
        This filter is used to order list of objects by property.
    </p>

    <h3>
        Original list
    </h3>
    <ul>
        <li ng-repeat= "item in listOfObjects">
            name: {{:: item.name}},
            id: {{:: item.id}}
        </li>
    </ul>

    <h3>
        List of object sorted by id
    </h3>
    <ul>
        <li ng-repeat= "item in listOfObjects | orderObjectBy : 'id'">
            name: {{:: item.name}},
            id: {{:: item.id}}
        </li>
    </ul>
    <h3>
        List of object sorted by name
    </h3>
    <ul>
        <li ng-repeat= "item in listOfObjects | orderObjectBy : 'name'">
            name: {{:: item.name}},
            id: {{:: item.id}}
        </li>
    </ul>
</body>
</html>